%body
  = render partial: 'layouts/header'
  = render partial: 'layouts/aside'
  %main.product
    .image-container
      %p 
        = @store.name  
      - if @products[0].present?
        = render partial: 'layouts/product'
      - else 
        .side-container__add
          = link_to new_store_product_path do
            .side-container__add-btn
              = fa_icon 'plus-square', class: 'icon'