%aside
  .side-container
    %p.side-container__title My Store
  .side-container__store
    - current_user.stores.each do |store|
      = link_to '#' do
        = store.name
        = image_tag store.image.url
        = store.visit_day
  -# .side-container__store
  -#   %p ドトールコーヒー
  -#   %img{:alt => "store", :src => "image/topimg_dcs.png"}/
  -#   %p 2019/06/06
  .side-container__add
    = link_to new_store_path do
      .side-container__add-btn
        = fa_icon 'plus-square', class: 'icon'
    
      