%aside
  .side-container__titleZone
    %p.side-container__title My Store
  .side-container__storeZone
    - current_user.stores.each do |store|
      .side-container__store
        = link_to store_products_path(store) do
          = store.name
          %br
          = image_tag store.image.url
          %br
          = store.visit_day
          %br
    .side-container__add
      = link_to new_store_path do
        .side-container__add-btn
          = fa_icon 'plus-square', class: 'icon' 
